@using Nomis.Utils.Constants
@using Microsoft.Extensions.Options
@using Nomis.Web.Client.Common.Settings

@{
    var settings = Context.RequestServices.GetService(typeof(IOptions<WebApiSettings>)) as IOptions<WebApiSettings>;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@Application.Brand</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/animate.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/ava.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />

</head>
<body>
<div class="body-wrap boxed-container">
    <header class="site-header">
        <div class="container">
            <div class="site-header-inner">
                <div class="brand header-brand">
                    <h1 class="m-0">
                        <a href="#">
                            <img src="~/img/nomis-logo-small.png"/>
                        </a>
                    </h1>
                </div>
                <nav class="navbar bg-white box-shadow mb-3">
                    <div class="container">
                        <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                            <ul class="navbar-nav">
                                <li class="nav-item text-dark fw-bold">
                                    <a href="@(settings?.Value?.ApiBaseUrl)/swagger/index.html" target="_blank">API</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
    </header>

    <main>
        <section class="hero text-center">
            <div class="container-sm">
                <div class="hero-inner">
                    @RenderBody()

                </div>
            </div>
        </section>
    </main>

    <footer class="site-footer text-light">
        <div class="container">
            <div class="site-footer-inner">
                <div class="brand footer-brand">
                    <a href="#">
                        <img src="~/img/nomis-logo-small-40.png"/>
                    </a>
                </div>

                <div class="footer-copyright"> &copy; 2022 - @Application.Brand</div>
            </div>
        </div>
    </footer>
</div>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/ava.min.js" asp-append-version="true"></script>
<script src="~/js/site.js" asp-append-version="true"></script>

@await RenderSectionAsync("Scripts", required: false)
</body>
</html>