@page
@using Nomis.Utils.Constants
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<h1 class="h2-mobile mt-0 is-revealing">Get @Model.Blockchain @Application.Brand Score</h1>
<form class="row" method="post">
    <div class="field-grouped is-revealing">
        <div class="input-group">
            <input asp-for="WalletAddress" type="text" class="form-control" placeholder="@Model.Placeholder">
        </div>

    </div>
    <div class="justify-content-center">
        <button type="submit" class="button button-primary button-shadow m-3">Get Score</button>
    </div>
    @if (Model.HasNoData)
    {
        <div class="alert alert-warning" role="alert">
            No Enough Data Yet!
        </div>
    }
    else
        if (Model.HasError)
        {
            <div class="alert alert-warning" role="alert">
                @Model.ErrorMessage
            </div>
        }
        else if (Model.Result?.Succeeded == true)
        {
            <partial name="_WalletStatsPartial" model="Model.Result" />
        }

</form>